In [2]:
import pandas as pd
import numpy as np

In [3]:
# CSV Data were read from the folder. Append all dataset    
missing=["No Info","None","none"] 
BankData = ["bank.csv", "bank-full.csv", "bank-additional.csv","bank-additional-full.csv"] 
df_Bank_Data = pd.DataFrame()
for BankData in BankData:
   df_Bank_Data = df_Bank_Data.append(pd.read_csv(BankData,na_values=missing,sep=";"))

In [4]:
#output first 5 rows just to see the first 5 values of the dataset
df_Bank_Data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95039 entries, 0 to 41187
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             95039 non-null  int64
 1   job             95039 non-null  object
 2   marital         95039 non-null  object
 3   education       95039 non-null  object
 4   default         95039 non-null  object
 5   balance         49732 non-null  float64
 6   housing         95039 non-null  object
 7   loan            95039 non-null  object
 8   contact         95039 non-null  object
 9   day             49732 non-null  float64
 10  month           95039 non-null  object
 11  duration        95039 non-null  int64
 12  campaign        95039 non-null  int64
 13  pdays           95039 non-null  int64
 14  previous        95039 non-null  int64
 15  poutcome        95039 non-null  object
 16  y               95039 non-null  object
 17  day_of_week     45307 non-null  object
 18  emp.var.rate    45307 non-null  float64
 19  cons.price.idx  45307 non-null  float64
 20  cons.conf.idx   45307 non-null  float64
 21  euribor3m       45307 non-null  float64
 22  nr.employed     45307 non-null  float64
dtypes: float64(7), int64(5), object(11)
memory usage: 17.4+ MB